html, body {
    padding: 0px;
    margin: 0px;
    height: 100%;
    font-size: 1rem;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 300;
    line-height: 135%;
    color: #333;
}

.page-area {
    position: relative;
    display: grid;
    grid-template-columns: 1fr minmax(0px, 700px) 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: '. c .';
}
.content-area {
    grid-area: c;
    display: grid;
    grid-template-rows: 50px 120px 50px auto 50px;
    grid-template-columns: 1fr;
    margin-bottom: 30px;
}

/* Social */
.social-container {
    position: fixed;
    bottom: 10px;
    right: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 2.5rem;
}
.social-container>a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: grey;
    transition: opacity 0.2s;
    opacity: 0.4;
}
.social-container>a:hover {
    opacity: 1;
}

/* Menu */
.menu-area {
    display: grid;
    grid-template-columns: 1fr auto;
}
.menu-area a {
    text-decoration: none;
    color: #333;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background 0.2s;
}
.menu-area a:hover {
    color: white;
    background: rgb(87, 88, 100);
}
.menu-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}

/* Title */
.title-area {
    display: grid;
    grid-template-columns: 150px 1fr;
    grid-template-rows: 1fr;
    background: rgb(156, 179, 128);
    border-bottom: 4px solid rgb(87, 88, 100);
}
.title-area>.img-container {
    display: flex;
    justify-content: center;
    align-items: center;
}
.title-area img {
    width: 80px;
}
.title-container {
    display: grid;
    grid-template-rows: 1fr;
}
.title-container>div {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.main-title {
    margin: 0px;
}
.sub-title {
    color: white;
}

/* Main Area */
.main-area {
    display: grid;
    grid-template-columns: 1fr 200px;
    grid-template-rows: 1fr 100px;
    grid-template-areas:
        'm i'
        'g g';
}
.main-content-container {
    grid-area: m;
    padding: 0px 40px 20px 20px;
}
.main-content-container>h2 {
    margin-top: 0px;
}
.main-area>.img-container1 {
    grid-area: i;
    background: url("images/etnacrop.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.main-area>.img-container2 {
    grid-area: i;
    background: url("images/bigtreeinlosangeles.jpeg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    max-height: 600px;
    
}
.main-area>.img-container3 {
    grid-area: i;
    background: url("images/sapling.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    max-height:350px;
}
.get-started-container {
    grid-area: g;
    display: flex;
    justify-content: center;
    align-items: center;
}
.get-started-container>a {
    text-decoration: none;
}

.next-button {
    height: 35px;
    width: 125px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(202, 47, 47);
    color: white;
    cursor: pointer;
    border-radius: 2px;
    transition: transform 0.1s;
    border: rgb(80, 0, 0) solid 2px;    
}
/* get started also serves as previous page button after intro page*/
.get-started-button {
    height: 35px;
    width: 125px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(202, 47, 47);
    color: white;
    cursor: pointer;
    border-radius: 2px;
    transition: transform 0.1s;
    border: rgb(80, 0, 0) solid 2px;   
}
.get-started-button:hover {
    transform: scale(1.1);
}

.next-button:hover {
    transform: scale(1.1);
}
.space {
    width: 25px;
    height: 35px;
    background-color: white;
    color: white;
}

/* Footer Area */
.footer-area {
    display: grid;
    border-bottom: 4px solid rgb(87, 88, 100);
}
.footer-area a {
    text-decoration: none;
    color: #333;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background 0.2s;
}
.footer-area a:hover {
    color: white;
    background: rgb(87, 88, 100);
}
.footer-button-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}

@media only screen and (max-width: 600px) {
    .main-area {
        grid-template-areas:
            'm m'
            'g g';
    }
}
@font-face{
    font-family: NotoSansKR;
    src: url(fonts/Noto_Sans_KR.zip/NotoSansKR-Regular.otf)
}
