body {
    background:rgb(253, 253, 253);
    color: rgb(160, 160, 160);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
    margin: 0;
    text-decoration: none;
    background-color: rgb(212, 212, 207);
    margin: auto;
    display: flex;
	align-items: center;
    justify-content: center;
    height: 100%;
}
.uppernav{
    height: 200px;
}
header {
    text-decoration: none;
    padding-top: 15px;
    padding-bottom: 8px;
    color: white;
    background-color: rgb(156,179,128);
    height: 100px;
    border-color: rgba(53, 40, 107, 0.651);
    border-bottom-style: solid;
    max-width: 750px;

    }
h1{
    font-size: 200%;
}
h2{
    font-size: 150%;
}
.nav1{
    position: relative;
    left: -20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

a { 
    text-decoration: none;
    color: black;
}
a:hover {
    text-decoration: underline;
}
.navbar {
    display: inline-block;
    padding-left: 15px;
    text-decoration: none;
    color: black;
    font-weight: 100;
}
.whitespace :first-child {
    padding-left: 5px;
}
.navbar2{
        padding-left: 25px;
        position: relative;
        left: +0px;
        bottom: +0px;
        display: inline-block;
        text-decoration: none;
        color: black;
        font-weight: 100;
        
        
}
.banner {
    padding-left: 20px;
    padding-bottom:;
    font-family: "open sans";
    font-weight: 200;
    position: relative;
    bottom: +30px;
    left: +60px;
    background-color: whtie;
}
.writing {
    background-color:white;
    color: rgb(175, 43, 43);
    margin-top: 20px;
    margin: auto;
    font-family: "open sans";
    font-size: 105%;
    max-width: 480px;
    padding-bottom: 40px;
    font-weight: 200;
    position: relative;
    left:-80px;
}
.lower-body {
    color: rgb(83, 82, 82);
    padding-left: 20px;
}
.italic {
    font-style: italic;
}
.line1{
    position: relative;
    left:+160px;
    background-color: rgb(53, 40, 107);
    color: rgb(53, 40, 107);
    width: 2px;
    height: 500px;
    bottom: +490px;
}
footer {
    margin-top: px;
    color: black;
    background-color: rgb(87, 88, 100);
    height: 50px;
    width: 6997x;
}
.footer-text {
    color: black;
    background-color: rgb(255, 255, 255);
    width: 500px;
}
.start-button{
    color:black;
    margin: auto;
    display: flex;
    justify-content: center;
    width: 190px;
}
#wrap {
    width: 700px;
    margin: 0 auto;
}
#container{
    width: 1800px;
    margin: 0 auto;
    background-color: white;
}
