body {
    background:white;
    color: rgb(0, 0, 0);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
    margin: 0;
    padding: 0;
    border-top: solid white 5px;

}
.topvoid{
    background-color: rgb(34, 141, 132); 
    margin-bottom: 3px;
    margin-top: 0px;
    padding: 10px;
    margin-left:15%;
    margin-right: 15%;
    border-radius:4px;
}
.midvoid{
    background-color: rgb(34, 141, 132); 
    padding: 10px;
    border-radius:4px;
    margin-left:15%;
    margin-right:15%;
    margin-top:5px;
}
.b2{
    color: black;
    background-color: black;
}
li:first-child{
    margin-left: left 5px;
}

a{
    text-decoration: none; color: white;
}
a:visited{
    text-decoration: none;
}
header {
    font-family: "Nobile";
    justify-content: center;
    background:rgb(254, 95, 85);
    color: rgb(255, 255, 255);
    margin-left: 18%;
    margin-right: 18%;
    padding-left: 50px;
    padding-top: 10px;
    padding-bottom: 0pzx
    padding-right: 30px;
    border-radius: 12px;
    
}
.banner{
    position: relative;
    top: -50px;
    margin: 0px;
    text-decoration: underline;
    height: 0px;
    color:rgb(255, 255, 255);
    padding-bottom: 0px;
}
header .li{
    
}
header .navbar {
    font-size: +12;
    height: 80px;
    width: auto;
    color: rgb(255, 255, 255);
    position: relative;
    top: -20px;
}
header .logo {
    height: 50px;
    width: 65px;
    position: relative;
    background-image: url(images/leaflogo.png);
    background-repeat: no-repeat;
    background-size: 50px;
    padding: 0px;
    margin: 0px;
}
.pagetitle{
    text-decoration: underline
}
section {
    background: white);
    padding: 20px;
    display: flex;
    flex-direction: row;
}
.feature-box {
    background-color: rgb(255, 255, 255);
    color: rgb(255, 255, 255);
    padding: 2px;
    margin-left: 15%;
    margin-right: 15%;
}

.feature-box div {
    border: black 2px;
    width: 200px;
    margin-top: 1px;
    margin-left: 1px;
    margin-right: 1px;
    background:rgb(34, 141, 132);
    padding-top:4px;
    padding-bottom: 4px;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 4px;
}
.bottomvoid{
    background-color: rgb(105, 133, 141); 
    margin-bottom: 3px;
    margin-top: 3px;
    padding: 10px;
}
.article-title{
    text-indent: 0px;
    color:rgb(148, 201, 169);
    padding: 5px;
    margin-top: 30px;
    margin-left: 18%;
    margin-right: 18%;
    text-decoration: underline;

}
.writing{ 
    font-family:"open sans";
    font-weight: 400
    text-indent:0px;
    line-height: 1.6;
    padding: 5px;
    margin-left: 18%;
    margin-right: 18%;
}
footer { 
    background-color: rgb(34, 141, 132); 
    color: white;
    padding-top: 3px;
    padding-bottom: 3px;
    margin-left: 15%;
    margin-right: 15%;
    border-radius: 4px;
    margin-top: 50px;
}
ul {
    margin: 0;
    padding: ;
    list-style-type: none;
}
.lower-body{
    font-family:"open sans"
    margin-top: 50px;
    margin-left: 16%
}
.footer-links{
    padding-left: 15px;
}
li {
    display: inline-block;
    margin-right: 20px;

}
.button 
}